Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [ ]:
x = 10 ;y = 20  ;z = 30

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [ ]:
n1= input("inser-1: ")
n2= input("inser-2: ")

print(n1,n2)
print(n2,n1)

inser-1: 2
inser-2: 3
2 3
3 2

2. far inserire all'utente due numeri e calcolare lìelevamento a potenza del primo per il secondo. Provare poi a vedere qualk è l amasisma potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

In [ ]:
n1= int(input("inser-1: "))
n2= int(input("inser-2: "))
ris = pow(n1,n2)

print(ris)

inser-1: 2
inser-2: 3
8

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
n1= int(input("inser-1: "))
n2= int(input("inser-2: "))
n3= int(input("inser-3: "))

list=[n1,n2,n3]
p = max(list)
print(p)

inser-1: 3
inser-2: 43
inser-3: 234
234

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

In [ ]:
lat1= int(input("inser-1: "))
lat2= int(input("inser-2: "))
lat3= int(input("inser-3: "))


if lat1<lat2+lat3 and lat2<lat1+lat3 and lat3<lat2+lat1:
  if lat1==lat2 and lat2==lat3:
    print("Il triangolo è equilatero")
  elif lat1==lat2 or lat2==lat3 or lat3==lat1:
    print("Il triangolo è isoscele")
  else:
    print("Il triangolo è scaleno")
else:
  print("I lati inseriti non possono essere quelli di un triangolo")

inser-1: 3
inser-2: 4
inser-3: 5
Il triangolo è scaleno

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

In [ ]:
cateto1 = int(input("inser Cateto: "))
cateto2 = int(input("inser Cateto: "))

from math import sqrt

ipote = sqrt(cateto1**2 + cateto2**2)
print("L'ipotenusa= ",ipote)

inser Cateto: 3
inser Cateto: 4
L'ipotenusa=  5.0

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [ ]:
N_utente = int(input("inser Cateto: "))

if N_utente % 2 == 0:
  print("pari")
else:
  print("dispari")

inser Cateto: 4
pari

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
nG = int(input("inser Grado: "))
camb=(nG*9/5)+32
print(camb)

inser Grado: 4
39.2

8. far inserire all'utente il valore di una temperatura in gradi fahrenheit e convertirlo in gradi centigradi

In [ ]:
nG = int(input("inser fahrenheit: "))
camb2=(nG*-32)*5/9
print(camb2)

inser fahrenheit: 4
-71.11111111111111

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

In [ ]:
velContest = int(input("inser fahrenheit: "))
pablo= velContest/3.6
print(pablo)

inser fahrenheit: 32
8.88888888888889

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

In [ ]:
raggio = int(input("inser Raggio: "))
calDiam= raggio*2

import math 

area= math.pi*raggio*raggio
print(area)
print(calDiam)

inser Raggio: 4
50.26548245743669
8

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [ ]:
Nome = str(input("inser Nome: "))
Cognome = str(input("inser Cognome: "))

print("\n",Nome +" "+ Cognome)

inser Nome: Molino
inser Cognome: Kanzaki

 Molino Kanzaki

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
import numpy as np

Val = int(input("inser Numero: "))

print(np.absolute(Val))

inser Numero: -21312312
21312312

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

In [ ]:
Voto = int(input("inser Voto: "))

if Voto < 11 and Voto > 0 :
  print("OK")
  
else:
  print("KO")

inser Voto: 78
KO

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

In [ ]:
n = int(input("inser numeri: "))
n2 = int(input("inser numeri: "))

if n % n2 == 0:
  print(n ,"è multiplo di ", n2)
else :
  print(n, "non è in multiplo di ",n2)

inser numeri: 8
inser numeri: 4
8 è multiplo di  4
True