tuple non sono modificabili

In [ ]:
tupla1 = (1,2,3,4,5,6,76)
print(tupla1)

(1, 2, 3, 4, 5, 6, 76)

In [ ]:
tupla2=("ico",)    #la virgola finale rende la tupla una tupla .senza diventa una stringa 
print(type(tupla2))
print(tupla2)
tupla_2=("ico")
print(type(tupla_2))

<class 'tuple'>
('ico',)
<class 'str'>

In [ ]:
tupla3=("ciao",1, True,"cetriolo")  #legge i valori buoleani
print(tupla3)

('ciao', 1, True, 'cetriolo')

In [ ]:
prova=tuple(["ciao","gabbiano",53])
print(prova)

('ciao', 'gabbiano', 53)

In [ ]:
ploto=[1,2,3]
prova2=tuple(ploto) #la lista e stata è stata convertita in tupla
print(prova2)

(1, 2, 3)

# Esercizzi Tuple

generare 20 numeri casuali non uguali che varino da 1 a 100, poi inserire in una struttura dati dati adeguata che non sia modificabile.

In [ ]:
import random
lista0 = random.sample(range(1,100),20)  #sample = valori diversi, (range(1,100) = i numeri casuali sono da 1 a 100 , 20 = il numero di volte che lo deve fare
print(lista0)    #restituisce una lista [+]
###############################################################
lista1 = tuple(random.sample(range(1,100),20))
print(lista1)

[46, 24, 21, 48, 75, 34, 96, 97, 41, 67, 20, 49, 33, 58, 17, 22, 55, 56, 6, 82]
(44, 51, 10, 32, 73, 31, 33, 74, 21, 16, 22, 34, 42, 87, 39, 11, 9, 28, 41, 84)

aggiungere i primi 3 cognomi della classe in posizione 1 al precendente vetore

In [ ]:
tumpla4= list(lista1)
print(tumpla4)
tumpla4[0:0] = ["avasiloae","bernasconi","cottone"]   # mette i valori al inizio
print(tumpla4)
tupla4inTuple= tuple(tumpla4)   #trasformata in tupla
print(tupla4inTuple)

[44, 51, 10, 32, 73, 31, 33, 74, 21, 16, 22, 34, 42, 87, 39, 11, 9, 28, 41, 84]
['avasiloae', 'bernasconi', 'cottone', 44, 51, 10, 32, 73, 31, 33, 74, 21, 16, 22, 34, 42, 87, 39, 11, 9, 28, 41, 84]
('avasiloae', 'bernasconi', 'cottone', 44, 51, 10, 32, 73, 31, 33, 74, 21, 16, 22, 34, 42, 87, 39, 11, 9, 28, 41, 84)

#***//insiemi Python//***

gli **insiemi** sono strutture dati .
Gli insiemi vengono utilizzate .....
si utilizzano le ***graffe= {}***

servono per togliere i duplicati

In [ ]:
insieme ={"ciao","ciaone","salve"} #non hanno un ordine predefinito
print(insieme)

{'salve', 'ciao', 'ciaone'}

In [ ]:
insieme2=set(("super ciao"," super ciaone","super salve"))  #(())=conversione tupla ,([])=conversione di una lista
print(insieme2)

{'super ciao', 'super salve', ' super ciaone'}

In [ ]:
print(type(insieme))
print(type(insieme2))

<class 'set'>
<class 'set'>

In [ ]:
len(insieme2)   #n° elementi

3

In [ ]:
insiemeNumerico={1,2,3,4,45}
CiProviamo={i for i in range(10)}  #è possibile fare list comprehension
print(CiProviamo)
print(insiemeNumerico)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 45}

In [ ]:
insiemeMisto={1,"marceline",True,2.3}
print(insiemeMisto)  # i valori buleani non le legge

{'marceline', 1, 2.3}

In [ ]:
insiemeN_nonRicordo={"spaghetti","penne","tortiglioni"}
print(insiemeN_nonRicordo)

In [ ]:
#aggiungere elementi
insime6={"giorgio flacone" ,897,7}
inser1={"tronco","corteccia","linfa"}
insime6.update(inser1)
print(insime6)

{'tronco', 897, 'giorgio flacone', 'linfa', 7, 'corteccia'}

In [ ]:
#rimuovere elementi
insime7={"cecco","leopardi","dante","guinizzelli",76}
print(insime7)
insime7.remove("leopardi")
print(insime7)

{'dante', 76, 'guinizzelli', 'cecco', 'leopardi'}
{'dante', 76, 'guinizzelli', 'cecco'}

In [ ]:
#rimuovere utilizzaando discard()
insime7.discard("cecco")
print(insime7)

{'dante', 76, 'guinizzelli'}

In [ ]:
#rimuovere con pop
x= insime7.pop()   #VIENE FATTO A RANDOM
print(x)
print(insime7)

dante
{76, 'guinizzelli'}

In [ ]:
#metodo union 
set1={1,2,3,4,5,6}
set2={10,20,30,40,50,60}
set4={12,142,53,45,876}
set3=set1.union(set2,set4)
print(set3)

{1, 2, 3, 4, 5, 6, 40, 10, 876, 45, 12, 142, 50, 20, 53, 60, 30}

In [ ]:
insiememe={1,4,5,6,7,10,1,4}   
print(insiememe)     #non prende le doppie
##################################################
#si deve fare per farza con tuple oppure lista

insiememe1=[1,4,5,6,7,10,1,4] 
insiememe2=(1,4,5,6,7,10,1,4)
print(insiememe1,"\t",insiememe2)

{1, 4, 5, 6, 7, 10}
[1, 4, 5, 6, 7, 10, 1, 4] 	 (1, 4, 5, 6, 7, 10, 1, 4)

In [ ]:
#caricare in una lista 20 numeri casuali tra 1 e 100 ed eliminarne i duplicati

In [ ]:
import random
listaConDuplicati=list(set([random.randint(1,100)for i in range(20)]))
print(type(listaConDuplicati),"\t \t \t \t",listaConDuplicati)

<class 'list'> 	 	 	 	 [96, 33, 35, 36, 69, 100, 37, 73, 74, 11, 44, 91, 17, 83, 22, 27, 31]

# ***//Dizionari//***

strutture dati con coppie dui valori

In [ ]:
#esempio
cairo={#"chiave":"valore"
    "genere":"maschio",    
    "età":12,
    "altezza":200,
    "piedi":2
}

print(cairo)

{'genere': 'maschio', 'età': 12, 'altezza': 200, 'piedi': 2}

In [ ]:
#aggiungere nuove chiavi
cairo.update({"cognome":"despigola"})
cairo["genere"]="non identificato"

In [ ]:
manga={
    "one punch man":{
        "personaggio1":"nome1",
        "personaggio2":"nome2",
        "personaggio3":"nome3"
    }
    "mob 100":{
        "personaio1":"noAe1",
        "personago2":"nAme2",
        "personago3":"noAe3"
    }
}